@import '~antd/dist/antd.less';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}