.chats:hover{
    background-color: rgba(199, 191, 191, 0.308);
}
.chats{border-bottom:1px solid #e1e1e1}
.chatArea{
    display: flex;
    flex-direction: row; 
}


@media only screen and (max-width: 700px) {
    .chatArea{
        margin-left: 15px;
        padding-left: 15px;
    }
   
 }

